
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
}

:root {
    --purple: #6C63FF;
}

button {
    cursor: pointer;
    
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* TEXTOS ============================================= */
h1 {
    font-size: 5rem;
    

    color: var(--purple);
}



p {
    color: #C8C8C8;
}
#phrase {
    color: #94948f;
    
}

/* TIME ============================================= */

main { 
    width: 100%;
    max-width: 970px;

    display: flex;
    flex-direction: column;
    align-items:center;
}

.descriptions, #date, #phrase, button {
    margin-top: 1.5rem;
}

.descriptions {
    width: 100%;

    display: flex;
    justify-content: space-around;
    
}

#date {
    font-size: 10rem;

    color: #4D4C59;
}

/* BUTTON ==============================================*/

button {
    border: none;
    outline: none;

    font-weight: 400;
    font-size: 1rem;

    padding: 0 3rem;
    height: 4rem;

    border-radius: 1rem;

    background-color: var(--purple);
    color: #FFF;

    
}

/* IMAGENS DE FUNDO ============================================== */ 


.top-image {
    width: 100%;
}

